* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    padding: 10px;
    color: white;
}

body {
    background: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #1E1B4B;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 7px 25px rgba(215, 24, 24, 0.2);
    display: flex;
    flex-direction:column;
    gap: 20px;
}
label{
    color:#dee1e9;
}
input{
    width: 350px;
    padding: 10px;
    border-radius: 10px;
}
button{
    background:#6366F1;
    width: 350;
    padding: 10px;
    border-radius: 20px;
    color: #FFFFFF;

}
p{
    color: rgb(240, 154, 154);
}