*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: white;
}

.container{
    text-align: center;
    margin-top: 100px;
    padding: 30px;
}

h1{
    color: rgb(9, 20, 1);
}

h2{
    margin: 20px;
}

p{
    font-size: 18px;
    margin: 15px;
}

button{
    padding: 12px;
    background-color: rgb(127, 127, 252);
    color: rgb(3, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

